.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: .2rem solid $color-Rose-400;
    font-size: 1.4rem;
    font-weight: 700;
    padding-block: .8rem;
    width: 60%;
    border-radius:4rem;
    background-color: $color-Rose-100;
    // &__svg{}
    &:hover{
        // background-color: $color-Red;
        // color: $color-Rose-100;
        // border: .2rem solid $color-Red;
        cursor: pointer;
    }
}