.heading--1{
    font-size: 4rem;
    font-weight: 700;
    margin-left: 5rem;
}
.heading--1--confirm{
    font-size: 4rem;
    font-weight: 700;
}
.heading--2{
    font-size: 2.4rem;
    font-weight: 700;
    color: $color-Red;
}
.heading--3{
    font-size: 1.6rem;
    font-weight: 700;
}
.heading--3-font{
    font-size: 2.4rem;
    font-weight: 700;
}
.heading--4{
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-Rose-500;
}
.heading--4--confirm{
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-Rose-500;
    margin-bottom: 2rem;
}
.heading--4--bold{
    font-size: 1.6rem;
    font-weight: 800;
    color: $color-Rose-500;
}
.heading--4--color{
    color: $color-Red;
}
.heading--5{
    font-size: 1.6rem;
    font-weight: 600;
    color: $color-Red;
}
.heading--6{
    font-size: 1.6rem;
    font-weight: 600;
    color: $color-Rose-500;
}